<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Northwind"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=Northwind"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>